body{
    background: teal;
    

}
h1{
    text-align: center;
    color: white;
    margin-top: 50px;
}

.screen{
    background-color: white;
    border: solid black 2px;
    color: black;
    font-size: medium;
    width: 380px;
    cursor: default;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

input[type='button']:active{
    background-color: whitesmoke;
}
input[type='button']:hover{
    background-color: olivedrab;
}
.operator{
    background-color: orangered;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    cursor: pointer;
    height: 40px;
}
.number{
    padding: 5px;
    height: 40px;
    color: black;
    border: solid black 2px;
    width: 100%;
    cursor: pointer;
}
.decimal{
    background-color: lightblue;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    cursor: pointer;
    height: 40px;
    
}
.clear{
    background-color: lightsalmon;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    margin: auto;
    margin-bottom: 10px; 
}
.equal {
    background-color: lightgreen;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    cursor: pointer;
    height: 40px;
   
}

.container{
    background-color: lightslategray;
    padding: 15px;
    color: black;
    border: solid black 2px;
    width: 40%;
    display: block;
    margin: 100px auto;
    align-self: center;
    border-radius: 10px;
    box-shadow: 5px 10px 20px black;
}

table{
    width: 100%;
}